@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 233, 243, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #E9F3FF;
}

